body{
    background-color: #4BBF6B;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}
.container{
    min-width: 400px;
    margin: 100px auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    width: 75%;   
    padding: 10px 0;
    display: flex;
    position: relative;
}
.details-wrapper{
    width: 100%;
}
.nav-toggle{
    position: absolute;
    width: 35px;
    height: 35px;
    padding: 5px;
    top : 100px;
    left: 20px;
    background-color: transparent;
    border: none;
    transition: 500ms;
    outline: none;
}
.nav-toggle.active{
    left: 180px;
}
.nav-toggle img{
    height: 100%;
    display: none;
}
.nav-toggle:not(.active) :first-child{
    display: block;
}
.nav-toggle.active :last-child{
    display: block;
}
.nav{
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    margin-top: 100px;
    width: 0;
    transition: 500ms;
    overflow: hidden;
}
.nav.active{
    width: 200px;    
}
.nav li{
    display: flex;
    height: 40px;
    align-items: center;
    transition: 250ms;
    font-family: 'Nunito', sans-serif;
    padding-left: 15px;
}
.nav li a{
    color: black;
    text-decoration: none;
}
.nav li:hover{
    background-color: #d8d9da6e;
}
.header{
    font-family: 'Raleway',sans-serif;
    text-align: center;
    font-size: 2.5em;
    margin: 20px 0 10px;
}
.order{
    width: 85%;
    margin: auto;
    transition: 500ms;
    padding: 5px 30px;
    box-sizing : border-box;
    overflow: hidden;
    font-family: 'Nunito' , sans-serif;
}
.order:hover{
    box-shadow: 0 0 1rem rgb(176,177,177);
}
.order p{
    margin: 10px 0;
}
.customer-name{
    font-size: 1.5em;
    font-family: 'Raleway' , sans-serif;    
}
.order-confirm{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
    margin-left: 5px;
    transition: 500ms;
}
.order-confirm input{
    height: 16px;
    width: 16px;
}

/* Hide default HTML checkbox */
.order-confirm input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.order-confirm .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.order-confirm .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.order-confirm input:checked + .slider {
    background-color: #4BBF6B;
}

.order-confirm input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}
@media(max-width : 1000px){
    .container{
        width: 85%
    }
}
@media(max-width : 800px){
    .nav-toggle.active {
        left: 150px;
    }
}
@media(max-width : 550px){
    body{
        background-color: white
    }
    .container{
        width: 100%;
        border-radius: 0;
        margin: 0;
        min-width: unset;
        box-shadow: none
    }
}